<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>ForgeLegacy</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="bg-dark text-white p-2 d-flex justify-content-between align-items-center">
            <span class="navbar-brand ml-2">
                ForgeLegacy Shop
            </span>
            <a class="btn btn-outline-light btn-sm" href="@Url.Action("Index", "Purchase")">Purchase history</a>
        </div>
        <div class="row m-1 p-1">
            <div id="categories" class="col-3">
                <h5>Termék típusok</h5>
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>